/**
    Title: macias.payroll.css
    Author: Andres Macias
    Date: 03/27/22
    Description: Styling for the macias.payroll.html file for WEB 231 Enterprise JavaScript I.
**/
#employeeRecordList {
    border: 1px dotted red;
}