/**
    Title: macias-javazon.css
    Author: Andres Macias
    Date: 05/01/22
    Description: Styling for the macias-javazon.html file for WEB 231 Enterprise JavaScript I.
**/

body {
    font-family: 'Oswald', Verdana, Arial, sans-serif;
}
.app-header {
    text-align: center;
}
#container {
    padding: 10px;
}

#javazon-form {
    width: 600px;
    margin: 3% auto 0;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 30px;
}

table th {
    text-align: left;
    background-color: #4F3674;
    color: white;

}

table th, table td {
    border: 1px solid #ddd;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
}
table tr:hover {
    background-color: #D6A800;
    color: #4F3674;
    cursor: pointer;
}