/**
    Title: macias-temp-conversion.css
    Author: Andres Macias
    Date: 04/03/22
    Description: Styling for the macias-temp-conversion.html file for WEB 231 Enterprise JavaScript I.
**/

body {
    font-family: 'Oswald', Verdana, Arial, sans-serif;
}

.app-header {
    text-align: center;
}
#container {
    padding: 10px;
}

#temp-conversion-form {
    width: 600px;
    margin: 3% auto 0;
}

#form-results {
    width: 600px;
    margin: 3% auto 0;
}

#conversionResult {
    font-size: 28px;
    text-align: center;
}
